.card-item {
  &-header span {
    font-size: 1rem;
    color: #636363;
  }

  &-image {
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &-title {
    font-size: 1.2rem !important;
  }

  &-price {
    font-size: 1.2rem !important;
  }

  &-old-price {
    font-size: 1rem !important;
    text-decoration: line-through;
  }
}

@media screen and (max-width: 900px) {
  .card-item {
    &-header span {
      font-size: 0.9rem;
    }

    &-title {
      font-size: 1rem !important;
    }

    &-price {
      font-size: 1rem !important;
    }

    &-old-price {
      font-size: 0.8rem !important;
    }
  }
}

@media screen and (max-width: 530px) {
  .card-item {
    &-header span {
      font-size: 0.8rem;
    }

    &-title {
      font-size: 0.9rem !important;
    }

    &-price {
      font-size: 0.9rem !important;
    }

    &-old-price {
      font-size: 0.7rem !important;
    }
  }
}